# Exclude consultant specific files "personal"
Private/

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
*.zip




# Ignore Smart Environment folder
.smart-env